@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark , cupcake;
}

.mono{
  font-family: "Roboto Mono", monospace;
}

.fancy{
   font-family: "Bebas Neue", sans-serif;
}


.purple-notification {
  background-color: #7c3aed !important; 
  color: #fff !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
