@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark , cupcake;
}

.mono{
  font-family: "Roboto Mono", monospace;
}

.fancy{
   font-family: "Bebas Neue", sans-serif;
}